<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <%- include('partials/nav') %>
    <h1>Contact Us!</h1>
    <p>Contact the collest cats on the web right here...</p>
</body>
</html>