<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<style>
    body {
        background: skyblue;
        font-family: verdana;
        color: white;
        text-align: center;
    }
    h1 {
        font-size: 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    p {
        font-size: 20px;
    }
</style>
<body>
    <h1>Welcome to the profile of <%= person %> </h1>
    <p><strong>Age: </strong><%= data.age %></p>
    <p><strong>Job: </strong><%= data.job %></p>
</body>
</html>